body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#banner {
  background-color: #e4000f;
  text-align: center;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

#footer {
  background-color: #e4000f;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
}

#content {
  margin-top: 175px;
  order: solid green;
  text-align: center;
}

#searchInput {
  width: 15%;
  text-align: center;
  border-right: none;
  margin-bottom: 10px;
}

#searchButton {
  border-left: none;
}

#pokePicture {
  display: block;
  order: solid yellow;
  max-width: 350px;
  max-height: 350px;
}

#information {
  order: solid purple;
  height: 100%;
  margin: auto 0 auto 0;
  max-width: 550px;
  max-height: 350px;
}

#display1 {
  order: solid red;
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
  height: 350px;
}

#display2 {
  order: solid green;
}

#pokemonName {
  display: inline;
}

#tabBar {
  display: flex;
  justify-content: space-evenly;
  padding: auto;
  padding-top: 50px;
}

.tab {
  margin: 5px;
  padding: 5px;
  border: solid #2a75bb;
  border-radius: 15px;
}

.normal {
  color: #a8a878;
}

.fighting {
  color: #c03028;
}

.flying {
  color: #a890f0;
}

.poison {
  color: #a040a0;
}

.ground {
  color: #e0c068;
}

.rock {
  color: #b8a038;
}

.bug {
  color: #a8b820;
}

.ghost {
  color: #705898;
}

.steel {
  color: #b8b8d0;
}

.fire {
  color: #f08030;
}

.water {
  color: #6890f0;
}

.grass {
  color: #78c850;
}

.electric {
  color: #f8d030;
}

.psychic {
  color: #f85888;
}

.ice {
  color: #98d8d8;
}

.dragon {
  color: #7038f8;
}

.dark {
  color: #705848;
}

.fairy {
  color: #ee99ac;
}
